.card-list {
  /* width: 50%;
  margin: 50px;
  display: grid;
  text-align: center;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px; */

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  /* align-items: flex-start; */
  /* flex-direction: row; */
  /* max-height: 15px; */
  
}
